<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Homeless Prevention System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to the Homeless Prevention System</h1>
    </header>
    <main>
        <div class="container">
            <h2>Please select an option to continue:</h2>
            <a href="{{ url_for('login') }}" class="button">User Login</a>
            <a href="{{ url_for('register') }}" class="button">User Register</a>
            <a href="{{ url_for('admin_login') }}" class="button">Admin Login</a>
            <a href="{{ url_for('donor_login') }}" class="button">Donor Login</a>
            <a href="{{ url_for('donor_register') }}" class="button">Donor Register</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Homeless Prevention Platform</p>
    </footer>
</body>
</html>
